<!doctype>
<html>
    <head>
        <script defer src="/static/main.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="icon" href="/static/image/logoSamolot.jpg" sizes="16x16" type="image/png">
        <meta http-equiv="Content-type" content="text/html; charset=iso-8859-2" />
        <meta http-equiv="Content-Language" content="pl" />
        <meta name="Paweł Osiński" content="Cygnus" />
        <title>Post Premium - SignUp</title>
    </head>

    <div class="topnav">
        <a  href="/">Home</a>
        <a class="active" href="#news">Sign-Up</a>
    </div>
    <body>

        <div class="m-lg-5">
        <form>
            <div class="form-group">
            <label for="firstname">Imię</label>
            <input type="email" class="form-control" id="firstname" aria-describedby="firstname" placeholder="Wpisz Imię" />
            <small id="podpowiedzEmail" class="form-text text-muted">W powyższym polu wpisujesz swoje imię.</small>
          </div>
            <div class="form-group">
            <label for="lastname">Nazwisko</label>
            <input type="email" class="form-control" id="lastname" aria-describedby="lastname" placeholder="Wpisz nazwisko" />
            <small id="nazwisko" class="form-text text-muted">W powyższym polu wpisujesz swoje nazwisko.</small>
          </div>

            <div class="form-group">
            <label for="login-input">Login</label>
            <input type="email" class="form-control" id="login-input"  aria-describedby="username" placeholder="Wpisz swój login" />
            <small id="username-komunikat" class="form-text text-muted">W powyższym polu wpisujesz swój login.</small>
                <p id="login-error"></p>

          </div>

          <div class="form-group">
            <label for="Wpisz hasło">Hasło</label>
            <input type="password" class="form-control-plaintext" id="password-input1" placeholder="Wpisz hasło" />
              <p id="password-error1"></p>
          </div>
          <div class="form-group">
            <label for="Wpisz ponownie hasło">Powtórz hasło</label>
            <input type="password" class="form-control-plaintext" id="password-input2" placeholder="Wpisz ponownie hasło" />
               <p id="password-error2"></p>
          </div>

            <div class="form-group">
            <label for="avatar">Wgraj swoje zdjęcie profilowe</label>
            <input type="file" class="form-control-file" id="Avatar">
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="regulamin">
            <label class="form-check-label" for="regulamin">Akceptuję regulamin</label>
          </div>
          <button type="submit" class="btn btn-primary">Zarejestruj</button>

        </form>
    </div>

    </body>



<footer class="page-footer font-small unique-color-dark pt-4">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/PawelOsinskii/aplikacjewebowe" target="_blank"> github</a>
  </div>


</footer>


</html>