<!doctype>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="icon" href="/static/image/logoSamolot.jpg" sizes="16x16" type="image/png">
        <meta http-equiv="Content-type" content="text/html; charset=iso-8859-2" />
        <meta http-equiv="Content-Language" content="pl" />
        <meta name="Paweł Osiński" content="Cygnus" />
        <title>Post Premium</title>
    </head>

     <div class="topnav">
        <a class="active" href="#">Home</a>
        <a href="/sender/sign-up">Sign-Up</a>
     </div>
    <body>


        <div class="border">
            <div class="container m-lg-5">
              <h1>Post Premium</h1>
              <p class="lead text-muted">Jesteśmy grupą młodych ludzi, wspólnie działąjący od kilku lat. W 2020 roku otworzyliśmy firmę obsługi przesyłek Premium.
              Z nami przesyłke dostaniesz zawsze na czas. Nigdzie, nie zapłacisz też tyle za tak szybki i profesjonalny czas wykonania. Działamy na razie na terytorium: Polski, Niemiec, Czech, Słowacji, Ukrainy</p>
             </div>
        </div>

    <div class="container marketing align-content-center">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg  class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x140"><title>Niezawodnosc</title><rect width="100%" height="100%" fill="#777"></rect><image href="static/image/niezawodnosc.jpg"/></svg>
        <h2>Niezawodność</h2>
        <p>Nieważne jak przyjdą trudne czasy, nigdy nie przestaniemy dostarczać przesyłek.</p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><image href="static/image/szybkosc.jpg"/></svg>
        <h2>Szybkość</h2>
        <p>90% przesyłek dostarczamy już następnego dnia roboczego. W wersji premium działamy również w weekendy. Jesteśmy w stanie dostarczyć paczkę nawet po 4h!</p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>precyzja</title><rect width="100%" height="100%" fill="#777"></rect><image href="static/image/dokladnosc.jpg"/></svg>
        <h2>Precyzja</h2>
        <p>Twoja przesyłka jest dla nas priorytetem. Z każdą przesyłką obchodzimy sie z ogromną precyzją i traktujemy je delikatnie, w porównaniu do konkurencji nie rzucamy paczkami, obchodzimy się z nimi jak z jajkiem</p>
      </div>
    </div>



  </div>


    </body>

<footer class="page-footer font-small unique-color-dark pt-4">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/PawelOsinskii/aplikacjewebowe" target="_blank"> github</a>
  </div>


</footer>


</html>