<!doctype>
<html>
    <head>
        <script src="/static/main.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="icon" href="/static/image/logoSamolot.jpg" sizes="16x16" type="image/png">
    </head>
    <body>
     <div class="topnav">
        <a class="active" href="#">Home</a>
        <a href="/sender/sign-up">Sign-Up</a>
    </div>




    </body>

<footer class="page-footer font-small unique-color-dark pt-4">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/PawelOsinskii/aplikacjewebowe" target="_blank"> github</a>
  </div>


</footer>


</html>