<!doctype>
<html>
    <head></head>
    <body>
        <form>
            <ul>
                <li>
                    <input type ="text" name="firstname" placeholder="Imię" />
                </li>
                 <li>
                    <input type ="text" name="lastname" placeholder="Nazwisko" />
                </li>
                 <li>
                    <input type ="text" name="username" placeholder="Nazwa użytkownika" />
                </li>
                 <li>
                    <input type ="submit" name="submit" placeholder="Zarejestruj" />
                </li>
            </ul>
        </form>
    </body>


</html>